.divCont {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.divCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1px;
  align-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: auto;
}

.FavImg {
  position: fixed;
  height: 80px;
  top: 5px;
  left: 30px;
}
