header {
  margin-bottom: 15px;
  /* background-color: rgba(58, 80, 61, 0.45); */
}
.navBar {
  position: relative;
  max-width: 1300px;
  margin-inline: auto;
  height: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 100;
}
.buttonsContainer {
  display: flex;
}
.buttonsContainer a {
  text-decoration: none;
}
