.container {
  text-align: center;
}

.title {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  font-size: 3.4em;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.portalImg {
  height: 300px;
  width: auto;
  z-index: 500;
  margin-top: 30px;
  margin-left: 15%;
}

.errorNumber {
  position: relative;
  color: #fff;
  font-weight: 900;
  font-size: 20.4em;
  display: block;
  margin-right: -30%;
  margin-left: -18%;
}

.paragraph {
  margin-top: 20px;
  margin-left: 20%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 35px;
  color: #2bff00;
  animation-name: flicker;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
